<html>
    <head>
        <title>nav bar</title>
        {% load static %}
        <link rel="stylesheet" href="{%static 'anas/nav.css' %}"/>
    </head>
    <body>
        <div class="container">
           
           
            <nav>
                <div class="naam">
                    ANAS SHAIKH

                </div>
                <div class="links">
                    <a  href="#">SKILLS</a>
                    <a  href="contact">CONTACT</a>
                    <a  href="#">Resume</a>
                </div>

            </nav>
            <div class="body">
                <div class="image">my very own image</div>
                <div class="About_text">i am a little tea pot</div>
            </div>
            
        </div>





        


    </body>
</html>